label{
    margin-right:10px;
}
#heading{
    height:100px;
    text-align:center;
    background-color:#495e57;
    padding-top:20px;
    color:#f4ce14;
}
form{
    display:grid;
    gap:20px;
    max-width:200px;
    text-align:center;

}
form input{
    height:24px;
    border:0;
    border-bottom:1px solid black;
    
}
select{
    height:24px;
    border:0px;
    border-bottom:1px solid black;
}

#click{
    border:1px solid black;
    margin:20px;
    height:28px;
}
.bookingForm{
    text-align:center;
    background-color:#495e57;
    padding-left:42%;
    padding-bottom:20px;
}
label{
    color:#f4ce14;
}