.header{
    display:flex;
}


.container{
    display:flex;
    height:25px;
    align-self:center;
    border:2px solid rgba(0, 0, 0, 0.477);
    margin-left:10px;
    padding:2px;
}

button{
    border:0;
}
#bar{
    border:0;
}

nav{
    margin-left:20px;
    align-self:center;
}

#link{
    margin-right:20px;
    text-decoration:none;
}

